@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #3a414c;
  color: #d1d2d3;
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

main {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
  min-height: 57.6rem;
}

.bet-item,
.bet-slip-bet {
  background: #48505e;
  position: relative;

  .name,
  .event,
  .odds {
    text-shadow: 0 0.1rem 0.2rem #00000035;
  }

  .name {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
  }

  .event {
    font-size: 1.2rem;
  }

  .odds {
    font-weight: 700;
    position: absolute;
    right: 1rem;
    top: 1.2rem;
  }
}

// Markets
markets-list {
  background: #3d4551;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0.2rem 2rem #272a2f52;
  display: block;
  overflow: hidden;
  width: 24rem;
  z-index: 1;
}

.markets-loading {
  color: lighten(#667386, 15%);
  padding: 1rem;
  text-align: center;
}

.bet-item {
  cursor: pointer;
  display: block;
  margin-bottom: 0.2rem;
  width: 100%;
  padding: 1rem 2rem;

  &:hover {
    background: lighten(#48505e, 5%);
  }

  &.active {
    opacity: 0.4;
  }
}

// Bet slip
bet-slip {
  background: #3d4551;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0 0.2rem 2rem #272a2f52;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 24rem;
}

.bet-slip-bet {
  margin-bottom: 0.5rem;
  padding: 1rem 1rem 1rem 3rem;

  .stake {
    background: #3d4551;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    font-size: 1.4rem;
    outline: none;
    padding: 0.4rem 0.6rem;
    width: 6rem;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .remove-bet {
    cursor: pointer;
    font-size: 1.6rem;
    height: 0.8rem;
    left: 1.2rem;
    line-height: 0.4;
    position: absolute;
    top: 1.5rem;
    width: 0.8rem;

    &:hover {
      opacity: 0.6;
    }
  }

  .event {
    margin-bottom: 1rem;
  }

  .returns {
    font-size: 1.2rem;
  }

  .stake-area {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.no-bets {
  color: lighten(#667386, 15%);
  padding: 1rem 1rem 1rem 3rem;
}

.total-stake {
  padding: 1rem 3rem;

  .total,
  .value,
  .currency {
    text-shadow: 0 0.1rem 0.2rem #00000035;
  }

  .total {
    color: #667386;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .value {
    color: #fff;
    display: block;
    font-size: 2.2rem;
  }

  .currency {
    color: #667386;
    margin-left: 0.2rem;
  }
}

.clear-betslip {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #667386;
  font-size: 1.2rem;
  padding: 1rem;
  outline: none;

  &[disabled] {
    cursor: default;
    opacity: 0.4;
  }
}

.place-bet {
  background: #2eb4b5;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1.6rem;
  outline: none;
  width: 100%;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &:hover {
    background: lighten(#2eb4b5, 5%);
  }
}
